include Makefile
recursive-include man *.1
include README.md
include LICENSE
include requirements.txt
include AI.prompt.md
recursive-include completions *
recursive-include src/plexdo/data *
recursive-include tests *.py
include CHANGELOG.md CONTRIBUTING.md SECURITY.md
recursive-include .github *.yml
